In [1]:
import numpy as np
import pandas as pd 
import glob 
import seaborn as sns
import matplotlib.pyplot as plt
import sys
import os


sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..')))

from Math_From_Scratch import regression, econometrics

In [5]:
datasets_path = glob.glob(r'..\data\*.csv')

csv_files = {
    path.split("\\")[-1][:-4]: path
    for path in datasets_path
}

WINDOW_SIZE = 5

df = pd.read_csv(csv_files['dehliclimate'])
df['date'] = pd.to_datetime(df['date'])

features = df.drop(columns=['meantemp','date']).columns
all_metrics = df.drop(columns=['date']).columns

df['month'] = df['date'].dt.month
df['weekday'] = df['date'].dt.day_of_week
df['year'] = df['date'].dt.year


target = ["meantemp"]

### ReLU
Used for returning only positives values between $0, x$ <br>
$f(x)$= $max(0,x)$

In [10]:
def relu(y: pd.Series) -> pd.Series:
    return y.clip(lower=0)

In [15]:
test = df[target] - 10
relu(test).tail()

      meantemp
1457  7.217391
1458  5.238095
1459  4.095238
1460  5.052632
1461  0.000000

### Leaky ReLU
Used for returning only positives values between $0, x$ <br>
$f(x)$= if $x > 0$ then $max(0,x)$

In [19]:
def leaky_relu(y: pd.Series, alpha: float = 0.01) -> pd.Series:
    return y.where(y > 0, alpha * y)

leaky_relu(test).tail()

      meantemp
1457  7.217391
1458  5.238095
1459  4.095238
1460  5.052632
1461  0.000000